@font-face {
    src: url(local-data/fonts/OregonMedium.ttf);
    font-family: OregonMedium;
}

#components-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: #F5F5F5;
}

#scroll-to-top-btn {
    position: fixed;
    bottom: 3%;
    right: 10%;
    z-index: 1;
    background-color: rgba(31, 102, 18, 0.56);
    /* rgba(154, 219, 154, 0.56); */
}

#navbar #nav-tabs #search-bar #search-filter-md #footer {
    flex-shrink: 0;
}

#main-content {
    flex-grow: 1;
    background-color: #C8CECB;
    border-radius: 1rem;
}

#carouselExampleFade {
    border-radius: 1rem;
    overflow: hidden;
    object-fit: cover;
}

.carousel-inner {
    position: relative;
}

#text-wrapper {
    position: absolute;
    padding: 0.8rem;
    width: 60%;
    top: 18%;
    left: 10%;
    z-index: 1;
    border: 1px solid #C8CECB
}

#main-content h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    color: white;
    font-size: 3rem;
    letter-spacing: .2rem;
}

#main-content h3 {
    font-family: OregonMedium;
    font-size: 1rem;
    color: white;
    letter-spacing: .2rem;
}

.carousel-item img {
    width: 100vw;
    height: 50vh;
    object-fit: cover;
    object-position: 50% 50%;
}

#xs-sm-search-filter {
    width: 80vw;
    overflow: hidden;
}

#main-logo {
    font-family: 'Playfair Display', serif;
    font-size: 1.5rem;
    color: #157C43
}

#main-logo:hover {
    cursor: pointer;
}

#nav-tabs .nav-link {
    font-family: OregonMedium;
    letter-spacing: .1rem;
    color: #157C43;
}

#collapse-search-body {
    background-color: #E5E4EB;
}

#collapse-search-body, #collapse-search-body select, #collapse-search-body select > option {
    font-family: OregonMedium;
    letter-spacing: 0.1rem!important;
}

#xs-sm-search-filter{
    background-color: #E5E4EB;
    font-family: OregonMedium;
    letter-spacing: 0.1rem!important;
    font-size: 1.2rem;
}

#xs-sm-search-filter .form-select {
    /* color: greenyellow; */
    font-size: 1.2rem;
}

#xs-sm-search-filter .form-select > option {
    /* color: red; */
    font-size: 1.2rem;
    width: 100%;
}

#xs-sm-search-filter h5{
    font-size: 1.5rem;
}

.border-search {
    border-radius: 1rem !important;
}

.species-form h2 {
    font-family: 'Spectral', serif;
    font-weight: 700;
}

.species-form label, .species-form p {
    font-family: 'Spectral', serif;
}

.species-form input {
    font-family: OregonMedium;
    letter-spacing: .1rem;
}

input:checked{
    background-color: #537EE0!important;
}

.form-check-input:hover, .form-select:hover{
    cursor: pointer;
}

.white {
    background-color: white;
}

.rounded {
    border-radius: 1rem !important
}

.red-border {
    border: 1px solid red !important;
}

.background-image {
    object-fit: cover;
}

.gradient {
    background: linear-gradient(145deg, rgba(10, 10, 44, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(184, 221, 200, 1) 100%, rgba(0, 212, 255, 1) 100%);
}

.style-links {
    text-decoration: none;
    color: black;
    font-family: OregonMedium;
    letter-spacing: 0.1rem;
}

.style-links:hover {
    cursor: pointer;
    color: black;
    text-decoration: underline;
}

.style-text{
    font-family: OregonMedium;
    letter-spacing: 0.1rem;
}

.style-btn{
    background-color: #537EE0!important;
    color: white !important;
    border-radius: 1rem!important;
    font-family: OregonMedium;
    letter-spacing: 0.1rem;
    padding-top: 0.5rem!important;
    padding-bottom: 0.5rem!important;
}

.ht-100 {
    height: 100% important
}

/* .react-icons{
    height: em;

} */
/* 
    .changeColor {
    color: black;
  }
  .changeColor:hover {
    color: white;
    height: 4rem;
  } */

/* Species Card */

.species-card a {
    text-decoration: none;
    color: black;
}

.species-card a:hover {
    cursor: pointer;
    color: black;
    text-decoration: underline;
}

.species-card {
    font-family: 'Spectral', serif;
    font-weight: 500;
}

.species-card p {
    font-size: 1rem;
}

.species-card h6 {
    font-weight: 700;
    font-size: 1.2rem;
}

.to-italicise {
    font-style: italic
}

.card-wrapper {
    overflow: hidden;
    position: relative;
}

.card-wrapper>img {
    position: absolute;
    transition: transform 200ms;
}

.card-wrapper:hover>img {
    transform: scale(1.05);
}

/* Footer */

#footer,
ul>li {
    list-style: none;
}

#footer ul>li>a {
    text-decoration: none;
    color: #157C43;
    font-family: OregonMedium;
    letter-spacing: 0.1rem;
}

#footer h6 {
    color: #157C43;
    font-family: 'Spectral', serif;
    font-size: 1.5rem;
}

#footer a:hover {
    cursor: pointer;
    color: #157C43;
    text-decoration: underline;
}

#footer {
    background-color: #E5E4EB;
    border-radius: 1rem;
}

@media screen and (min-width: 768px) {
    .carousel-item img {
        height: 70vh
    }

    #text-wrapper {
        top: 25%;
        left: 10%;
        padding: 1rem;
        width: 50%;
    }

    #main-content h1 {
        font-size: 5rem;
        letter-spacing: .2rem;
        margin-left: 0rem;
    }

    #main-content h3 {
        font-family: OregonMedium;
        font-size: 1.5rem;
        font-weight: 300;
        color: white;
        letter-spacing: .2rem;
    }
}

@media screen and (min-width: 992px) {
    #text-wrapper {
        top: 20%;
        left: 10%;
        width: 40%;
    }

    #main-content h3 {
        line-height: 1.4;
    }

    #main-logo{
        font-size: 2rem;
    }

    #nav-tabs .nav-link{
        font-size: 1.5rem;
    }

    .species-form label, .species-form p, .species-form input, .species-form select{
        font-size: 1.2rem!important;
    }

    .style-links {
        font-size: 1.4rem;
    }

    .style-text {
        font-size: 1.2rem;
    }

    #footer ul>li>a{
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 1200px) {
    #text-wrapper {
        top: 20%;
        left: 10%;
        width: 30%;
    }

    #main-content h3 {
        line-height: 1.4;
    }
}